@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --background-color: #eeeeee;
    --light-grey: #c4c1c1;
    --accent-color: #3498db;
  }


*{
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: var(--background-color);
  }

  .container{
    text-align: center;
  }
  .progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
  }
  .progress-container::before{
    content: '';
    background-color: var(--light-grey);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.4s ease;

  }
  .progress{
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.4s ease;

  }

  .circle{
    background-color: var(--background-color);
    border-radius: 50%;
    color: var(--light-grey);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--light-grey);
    transition: .4s ease;
  }
.circle.active{
    border-color: var(--accent-color);
}
.btn{
    background-color: #3498db;
    color: var(--background-color);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8PX 30Px;
    margin: 5px;
    font-size: 14px;

}
.btn:active{
    transform: scale(.98);
}
.btn:focus{
    outline: 0;

}

.btn:disabled{
    background-color: var(--light-grey);
    cursor: not-allowed;
}